<div class="container">

  <!--<button [routerLink]="['login']"  mat-raised-button color="primary"><i class="material-icons">person</i> Login</button>-->
  <form [formGroup]="profileForm" class="example-form">

    <mat-card class="Section">

      <h1 style="text-align: center;font-family: sans-serif;">ElektraWEB Teklif Formu</h1>

      <div fxLayout="row wrap" fxLayout.xs="row wrap">
        <div fxFlex="50" fxFlex.xs="100">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Otel Adı</mat-label>
            <mat-icon matSuffix>business</mat-icon>
            <input formControlName="hotelname" matInput value="">
          </mat-form-field>
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>E-mail</mat-label>
            <mat-icon matSuffix>email</mat-icon>
            <input type="text" formControlName="email" matInput placeholder="Email" value="">
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.xs="100">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Telefon</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input type="text" formControlName="phone" matInput placeholder="Telefon" value="">
          </mat-form-field>

        </div>

        <div fxFlex="50" fxFlex.xs="100">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Yetkili Adı ve Soyadı</mat-label>
            <mat-icon matSuffix>account_circle</mat-icon>
            <input type="text" formControlName="authorized" matInput placeholder="Yetkili Adı ve Soyadı" value="">
          </mat-form-field>
        </div>


        <div fxFlex="50">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Oda Sayısı</mat-label>
            <mat-icon matSuffix>account_circle</mat-icon>
            <input type="number" matInput placeholder="Oda Sayısı"
              (keyup)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
              formControlName="roomcount">
          </mat-form-field>

        </div>




        <div fxFlex="50" fxFlex.xs="50">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Satıcı Adı ve Soyadı</mat-label>
            <mat-icon matSuffix>account_circle</mat-icon>
            <input type="text" formControlName="wantname" matInput placeholder="Satıcı Adı ve Soyadı" value="">
          </mat-form-field>
        </div>


        <div fxFlex="50" fxFlex.xs="100">
          <div fxLayout="row wrap" fxLayout.xs="row wrap">
            <div fxFlex="50" fxFlex.xs="100">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Satıcı E-mail Adresi</mat-label>
                <mat-icon matSuffix>email</mat-icon>
                <input type="text" formControlName="wantemail" matInput placeholder="Satıcı E-mail Adresi" value="">
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="mailCheck">
              <mat-checkbox (change)="log();" formControlName="sellerEmailCheck">Mail Gönderilsin mi ? </mat-checkbox>
            </div>

          </div>

        </div>






        <div fxFlex="50" fxFlex.xs="100">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Satıcı Telefon</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input type="text" formControlName="wantphone" matInput placeholder="Satıcı  Telefon" value="">
          </mat-form-field>
        </div>

      </div>

    </mat-card>


    <mat-card class="Section">

      <div class="roomBar">





      </div>

      <div style="margin-bottom:10px;font-weight: 700;">Lütfen istediğiniz modulleri işaretleyip teklif oluştur tuşuna
        basınız</div>
      <table>
        <thead>
          <tr>
            <th style="width: 10%;">Seç</th>
            <th>Ürün Adı</th>

            <th style="width: 10%;text-align: end;">Total</th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let item of dataSource">
            <tr>
              <td>
                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="item.selected"></mat-checkbox>
              </td>
              <td><span>{{item.productname}}</span></td>
              <td style="text-align: end;">
                <ng-container *ngIf="!item.selected"><span>{{0  | currency : 'EUR'}}</span></ng-container>
                <ng-container *ngIf="item.selected && this.showpriceControl == false">
                  <span><strong>{{item.total | currency : 'EUR'}}</strong></span>
                </ng-container>


                <ng-container *ngIf="item.selected && this.showpriceControl == true">
                  <span>{{0 | currency : 'EUR'}}</span>
                </ng-container>
              </td>
            </tr>


            <ng-container *ngIf="item.selected">
              <ng-container *ngIf="item.productgrup.length>0">

                <tr class="altTr">
                  <td></td>
                  <td>
                    <table>
                      <thead>
                        <th>Seç</th>
                        <th style="width:50%;">Ürün Adı</th>
                        <th style="width:15%;">Ürün Adeti</th>

                        <th>Ürün T.Fiyat</th>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let x of item.productgrup">
                          <tr>
                            <td>
                              <mat-checkbox (click)="log();" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="x.selected">
                              </mat-checkbox>
                            </td>
                            <td>{{x.productname}}</td>
                            <td>

                              <input type="number" value="x.quantity" class="productinput"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="x.quantity" matInput>
                            </td>

                            <td style="text-align: end;">{{x.productprice * x.quantity | currency : 'EUR'}}</td>
                          </tr>
                        </ng-container>
                      </tbody>

                    </table>
                  </td>

                </tr>





              </ng-container>

            </ng-container>

          </ng-container>

        </tbody>
      </table>


      <div fxLayout="row" fxLayout.xs="row wrap">

        <div fxFlex="50" fxFlex.xs="100">

          <div class="buttonBar">
            <button
              (click)="changeData(profileForm.get('roomcount').value);showControl();total(profileForm.get('roomcount').value);teklifGonder();"
              mat-raised-button color="warn">Teklif Oluştur ve Mail Olarak Gönder</button>
            <!--<button mat-raised-button color="primary" [disabled]="offerCount" (click)="teklifGonder();">Teklif
                İste</button>-->
          </div>
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <div class="totalBar">
            <div><span class="totalLabel">Yıllık Toplam </span> <span
                class="divid">:</span><span><strong>{{ totalpricefinal  | currency:'EUR'}}</strong> (
                {{ totalpricefinal/12  | currency:'EUR'}} x 12 )</span>


              <div style="font-weight: 700;">Ek Hizmetler</div>
              <ng-container *ngFor="let item of ekhizmetler">
                <ng-container *ngFor="let x of item.firstprice">
                  <div *ngIf="item.selected && x.price>0">
                    <span>{{x.desc}} {{ x.price | currency:'EUR'}} </span>
                  </div>

                </ng-container>
              </ng-container>

              <span class="totalLabel">Genel Toplam </span> <span
                class="divid">:</span><span><strong>{{ totalpricefinal + firstprice | currency:'EUR'}}</strong></span>
            </div>

          </div>




        </div>
      </div>

      <div class="textDesc"><i class="material-icons">info</i>
        Bu fiyata bakım, sunucu, yedekleme ve güncelleme dahildir.</div>
      <div class="textDesc"><i class="material-icons">info</i>
        efatura, edefter ve earşiv modüllerinde 1 sefere mahsus 500€ kurulum ücreti alınır.</div>


    </mat-card>
  </form>

</div>



<ng-template #progressTpl>
  <mat-spinner></mat-spinner>
</ng-template>

<router-outlet></router-outlet>