<div class="container">

  <ng-container *ngIf="userservice.login==false">
    <button style="margin-bottom: 10px;" [routerLink]="['login']" mat-raised-button color="primary"><i
        class="material-icons">person</i> Login</button>



  </ng-container>

  <ng-container *ngIf="userservice.login==true">
    <button style="margin-bottom: 10px;" [routerLink]="['/']" (click)="logout();" mat-raised-button color="primary"><i
        class="material-icons">person</i> Logout</button>


    <button
      (click)="changeData(profileForm.get('roomcount').value);showControl();total(profileForm.get('roomcount').value);teklifGonder('word');"
      style="margin-bottom: 10px;margin-left: 5px;" mat-raised-button color="primary"><i
        class="material-icons">insert_drive_file
      </i> Word Export</button>
  </ng-container>

  <form [formGroup]="profileForm" class="example-form">

    <mat-card class="Section">

      <h1 style="text-align: center;font-family: sans-serif;">EasyPMS Price List</h1>

      <ng-container *ngFor="let item of userservice.userdata">
        <div fxLayout="row wrap" fxLayout.xs="row wrap">
          <div fxFlex="50" fxFlex.xs="100">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hotel Name</mat-label>
              <mat-icon matSuffix>business</mat-icon>
              <input formControlName="hotelname" matInput value="">
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="100">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>E-mail</mat-label>
              <mat-icon matSuffix>email</mat-icon>
              <input type="text" formControlName="email" matInput placeholder="Email" value="">
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.xs="100">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Phone</mat-label>
              <mat-icon matSuffix>phone</mat-icon>
              <input type="text" formControlName="phone" matInput placeholder="Phone" value="">
            </mat-form-field>

          </div>

          <div fxFlex="50" fxFlex.xs="100">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Authorized Name and Surname</mat-label>
              <mat-icon matSuffix>account_circle</mat-icon>
              <input type="text" formControlName="authorized" matInput placeholder="Authorized Name and Surname" value="">
            </mat-form-field>
          </div>







          <div fxFlex="50" fxFlex.xs="50">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Sales Manager Name and Surname</mat-label>
              <mat-icon matSuffix>account_circle</mat-icon>
              <input type="text" formControlName="wantname" matInput placeholder="Sales Manager Name and Surname">
            </mat-form-field>
          </div>


          <div fxFlex="50" fxFlex.xs="100">
            <div fxLayout="row wrap" fxLayout.xs="row wrap">
              <div fxFlex="100" fxFlex.xs="100">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Sales Manager E-mail</mat-label>
                  <mat-icon matSuffix>email</mat-icon>
                  <input type="text" formControlName="wantemail" matInput placeholder="Sales Manager E-mail">
                </mat-form-field>
              </div>


            </div>

          </div>






          <div fxFlex="50" fxFlex.xs="100">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Sales Manager Phone</mat-label>
              <mat-icon matSuffix>phone</mat-icon>
              <input type="text" formControlName="wantphone" matInput placeholder="Sales Manager Phone">
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.xs="100" class="mailCheck">
            <mat-checkbox formControlName="sellerEmailCheck">Send Mail ? </mat-checkbox>
          </div>

        </div>
      </ng-container>




      <!--Login Olunmamışsa-->


      <ng-container *ngIf="!userservice.userdata">
        <div fxLayout="row wrap" fxLayout.xs="row wrap">
          <div fxFlex="50" fxFlex.xs="100">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hotel Name</mat-label>
              <mat-icon matSuffix>business</mat-icon>
              <input formControlName="hotelname" matInput value="">
            </mat-form-field>
          </div>
          <div fxFlex="50" fxFlex.xs="100">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>E-mail</mat-label>
              <mat-icon matSuffix>email</mat-icon>
              <input type="text" formControlName="email" matInput placeholder="Email" value="">
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.xs="100">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Phone</mat-label>
              <mat-icon matSuffix>phone</mat-icon>
              <input type="text" formControlName="phone" matInput placeholder="Phone" value="">
            </mat-form-field>

          </div>

          <div fxFlex="50" fxFlex.xs="100">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Authorized Name and Surname</mat-label>
              <mat-icon matSuffix>account_circle</mat-icon>
              <input type="text" formControlName="authorized" matInput placeholder="Authorized Name and Surname" value="">
            </mat-form-field>
          </div>







          <div fxFlex="50" fxFlex.xs="50" style="display:none;">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Sales Manager Name and Surname</mat-label>
              <mat-icon matSuffix>account_circle</mat-icon>
              <input type="text" formControlName="wantname" matInput placeholder="Sales Manager Name and Surname">
            </mat-form-field>
          </div>


          <div fxFlex="50" fxFlex.xs="100" style="display:none;">
            <div fxLayout="row wrap" fxLayout.xs="row wrap">
              <div fxFlex="50" fxFlex.xs="100">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Sales Manager E-mail</mat-label>
                  <mat-icon matSuffix>email</mat-icon>
                  <input type="text" formControlName="wantemail" matInput placeholder="Sales Manager E-mail">
                </mat-form-field>
              </div>
              <div fxFlex="50" fxFlex.xs="100" class="mailCheck">
                <mat-checkbox formControlName="sellerEmailCheck">Mail Gönderilsin mi ? </mat-checkbox>
              </div>

            </div>

          </div>






          <div fxFlex="50" fxFlex.xs="100" style="display:none;">

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Sales Manager Phone</mat-label>
              <mat-icon matSuffix>phone</mat-icon>
              <input type="text" formControlName="wantphone" matInput placeholder="Satıcı  Phone">
            </mat-form-field>
          </div>

        </div>
      </ng-container>



    </mat-card>


    <mat-card class="Section">

      <div fxLayout="row wrap" style="margin-bottom:10px;font-weight: 700;">


        <div fxFlex="80" fxFlex.xs="100" style="    align-items: center;
        vertical-align: middle;
        display: flex;">
          Please select the modules you want and click the create offer button.

        </div>



        <div fxFlex="20" fxFlex.xs="100">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Room Count</mat-label>
            <mat-icon matSuffix>business</mat-icon>
            <input min="0" type="number" matInput placeholder="Room Count"
              (keyup)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
              formControlName="roomcount">
          </mat-form-field>

        </div>

      </div>

      <table>
        <thead>
          <tr>
            <th style="width: 10%;">Select</th>
            <th>Product Name	</th>
            <th *ngIf="userservice.login">Discount  %</th>
            <th style="width: 15%;text-align: end;">Total</th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let item of dataSource">
            <tr>
              <td style="text-align: center;">
                <mat-checkbox
                  (change)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="item.selected"></mat-checkbox>
              </td>
              <td><span><b>{{item.productname}}</b>
                  <ng-container *ngIf="item.selected==true && item.singleproduct==true ">
                    <div class="singleproduct">
                      <label class="singleproductlabel">Ürün Adedi</label>
                      <input
                        (change)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="item.quantity" style="width:50px;"
                        type="number" min="0" value="0" class="productinput" matInput>
                    </div>
                  </ng-container>
                  <p class="desctext" [innerHTML]="item.desc"></p>
                </span></td>
              <td style="text-align:center;" *ngIf="userservice.login">
                <input
                  (change)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="item.discount" style="width:50px;" type="number"
                  min="0" value="0" class="productinput" matInput>
              </td>

              <ng-container *ngIf="!userservice.login">

                <td class="pricess" style="text-align: end;">
                  <ng-container *ngIf="!item.selected"><span>{{0  | currency : 'GBP'}}</span></ng-container>
                  <ng-container *ngIf="item.selected && this.showpriceControl == false">
                    <div *ngIf="!(item.timesequence =='yearlyfixsingle' || item.timesequence =='yearlyfix' || item.timesequence =='yearly')"><strong style="color: yellowgreen;">{{item.total /12| currency : 'GBP'}}</strong> / monthly</div>
                    <span *ngIf="!(item.timesequence =='yearlyfixsingle'  || item.timesequence =='yearlyfix' || item.timesequence =='yearly')"><b>{{item.total | currency : 'GBP'}}</b> / yearly</span>
                    <span *ngIf="(item.timesequence =='yearlyfixsingle' || item.timesequence =='yearlyfix' || item.timesequence =='yearly')"><b>{{item.total | currency : 'GBP'}}</b></span>

                  </ng-container>


                  <ng-container *ngIf="item.selected && this.showpriceControl == true">
                    <span>{{0 | currency : 'GBP'}}</span>
                  </ng-container>
                </td>
              </ng-container>


              <ng-container *ngIf="userservice.login">

                <td class="pricess"  style="text-align: end;">
                  <ng-container *ngIf="!item.selected"><span>{{0  | currency : 'GBP'}}</span></ng-container>
                  <ng-container *ngIf="item.selected">
                      <div *ngIf="!(item.timesequence =='yearlyfixsingle' || item.timesequence =='yearlyfix' || item.timesequence =='yearly')"><strong style="color: yellowgreen;">{{item.total /12| currency : 'GBP'}}</strong> / monthly</div>
                      <span *ngIf="!(item.timesequence =='yearlyfixsingle'  || item.timesequence =='yearlyfix' || item.timesequence =='yearly')"><b>{{item.total | currency : 'GBP'}}</b> / yearly</span>
                      <span *ngIf="(item.timesequence =='yearlyfixsingle' || item.timesequence =='yearlyfix' || item.timesequence =='yearly')"><b>{{item.total | currency : 'GBP'}}</b></span>
  
                  </ng-container>
                </td>
              </ng-container>

            </tr>


            <ng-container *ngIf="item.selected">
              <ng-container *ngIf="item.productgrup && item.productgrup.length>0 ">

                <tr class="altTr">
                  <td></td>
                  <td>
                    <table>
                      <thead>
                        <th>Select</th>
                        <th style="width:50%;">Product Name	</th>
                        <th style="width:15%;">Quantity</th>
                        <th *ngIf="userservice.login">Discount %</th>


                        <th>Total</th>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let x of item.productgrup">
                          <tr>
                            <td>
                              <mat-checkbox
                                (change)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="x.selected">
                              </mat-checkbox>
                            </td>
                            <td>{{x.productname}}</td>
                            <td>

                              <input type="number" value="x.quantity" class="productinput"
                                (change)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
                                min="0" [ngModelOptions]="{standalone: true}" [(ngModel)]="x.quantity" matInput>
                            </td>

                            <td style="text-align:center;" *ngIf="userservice.login">
                              <input
                                (change)="changeData(profileForm.get('roomcount').value);total(profileForm.get('roomcount').value);"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="x.discount" style="width:50px;"
                                type="number" min="0" value="0" class="productinput" matInput>
                            </td>


                            <td style="text-align: end;">
                              {{ (x.productprice * x.quantity) - (((x.productprice * x.quantity) / 100) * x.discount) | currency : 'GBP'}}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>

                    </table>
                  </td>

                </tr>

              </ng-container>

            </ng-container>

          </ng-container>

        </tbody>
      </table>


      <div fxLayout="row" fxLayout.xs="row wrap">

        <div fxFlex="50" fxFlex.xs="100">

          <div class="buttonBar">
            <button
              (click)="changeData(profileForm.get('roomcount').value);showControl();total(profileForm.get('roomcount').value);teklifGonder('');"
              mat-raised-button color="warn">Create Offer and Send as Email</button>
            <!--<button mat-raised-button color="primary" [disabled]="offerCount" (click)="teklifGonder();">Teklif
                İste</button>-->
          </div>
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <div class="totalBar">


            <div *ngIf="ekhizmetler">
              <div style="font-weight: 700">Services</div>
              <ng-container *ngFor="let item of ekhizmetler">
                <ng-container *ngFor="let x of item.firstprice">
                  <div *ngIf="item.selected == true  && x.price>0">
                    <span>{{x.desc}} {{ x.price | currency:'GBP'}}</span>
                  </div>
                </ng-container>
              </ng-container>
              <b style="padding: 10px">Total {{firstprice | currency:'GBP'}}</b>
              <hr>
            </div>

            <div *ngIf="setupprice">
              <div style="font-weight: 700">Setup Price</div>
              <ng-container *ngFor="let x of setupprice">
                <span>{{x.setupdesc}} <br>( {{ x.quantity}} * {{x.setupprice | currency:'GBP'}} )
                  {{ x.quantity * x.setupprice | currency:'GBP'}}<br></span>
              </ng-container>
              <b style="    padding: 10px"> Total {{setuppricetotal | currency:'GBP'}}</b>
              <hr>
            </div>

            <div class="generaly">
              <span class="totalLabel">Additional Services and Installation Fees Total</span> <span
                class="divid">:</span><span><strong>{{setuppricetotal + firstprice | currency:'GBP'}}</strong></span>
            </div>


            <hr>
            <div class="generaly">
              <span class="totalLabel">Total </span> <span
                class="divid">:</span><span><strong>{{ totalpricefinal | currency:'GBP'}}</strong></span>
            </div>
            <div class="generaly">
              <span class="totalLabel">Grand Total </span> <span
                class="divid">:</span><span><strong>{{ totalpricefinal + firstprice + setuppricetotal | currency:'GBP'}}</strong></span>
            </div>

          </div>




        </div>
      </div>

      <div class="textDesc"><i class="material-icons">info</i>This price includes maintenance, server, backup, and update.
      </div>

    </mat-card>
  </form>

</div>



<ng-template #progressTpl>
  <mat-spinner></mat-spinner>
</ng-template>

<router-outlet></router-outlet>