<ng-container *ngFor="let trans of  langtrans">
    <ng-container *ngFor="let m of  trans.curencytype">aa {{m}}</ng-container>
    <ng-template #totalshow>
        <div fxFlex="70" fxFlex.xs="100">
            <div class="totalBar">
                <div class="generaly">
                    <span class="totalLabel">{{trans.total}} </span> <span class="divid">:</span><span><strong>{{
                            totalpricefinal |
                            currency:currencyprefix}}</strong></span>
                </div>
            </div>
        </div>
    </ng-template>


    <div class="container">
        <ng-container *ngIf="userservice.login==false">
            <button style="margin-bottom: 10px;" [routerLink]="['login']" mat-raised-button color="primary"><i
                    class="material-icons">person</i> {{trans.login}}</button>

        </ng-container>
        <!--     <mat-form-field style=" width: 110px;margin-left: 15px; margin-right:15px;">
            <mat-label class="langlabel"> <img class="langImg" [src]="trans.img"> {{trans.langname}}</mat-label>
            <mat-select (selectionChange)="langChange($event)">
                <ng-container *ngFor="let x of lang">
                    <ng-container *ngFor="let y of x.langs">
                        <mat-option [value]="y.local">
                            <img class="langImg" [src]="y.img">{{y.langname}}
                        </mat-option>
                    </ng-container>
                </ng-container>
            </mat-select>
        </mat-form-field> -->


        <!--<mat-form-field style=" width: 110px;margin-left: 15px; margin-right:15px;">
        <mat-label class="langlabel">{{trans.currencycode}}  {{trans.currency}} </mat-label>
        <mat-select (selectionChange)="currencyChange($event)">
          <ng-container *ngFor="let x of lang">
            <ng-container *ngFor="let y of x.curencytype">
              <mat-option *ngIf="y.active==true" [value]="y.currency">
               {{y.code}}   {{y.currency}}
              </mat-option>
            </ng-container>
          </ng-container>
        </mat-select>
      </mat-form-field>-->



        <ng-container *ngIf="userservice.login==true">
            <button style="margin-bottom: 10px;" [routerLink]="['/']" (click)="logout();" mat-raised-button
                color="primary"><i class="material-icons">person</i> {{trans.logout}}</button>


            <button
                (click)="changeData(profileForm.get('roomcount').value);showControl();teklifGonder('word',trans.errormessage);"
                style="margin-bottom: 10px;margin-left: 5px;" mat-raised-button color="primary"><i
                    class="material-icons">insert_drive_file
                </i> Word Export</button>


            <button (click)="changeData(profileForm.get('roomcount').value);showControl();Invoice();"
                style="margin-bottom: 10px;margin-left: 5px;" mat-raised-button color="warn"><i
                    class="material-icons">insert_drive_file
                </i>Invoice</button>


            <button (click)="getOffer();" style="margin-bottom: 10px;margin-left: 5px;"
                mat-raised-button>{{trans.myoffers}}</button>

            <button [routerLink]="['info']" style="margin-bottom: 10px;margin-left: 5px;"
                mat-raised-button>{{trans.myinformations}}</button>


        </ng-container>

        <form [formGroup]="profileForm" class="example-form">

            <mat-card class="Section">

                <h1 style="text-align: center;font-family: sans-serif;">{{trans.heading}}</h1>

                <ng-container *ngFor="let item of userservice.userdata">
                    <div fxLayout="row wrap" fxLayout.xs="row wrap">


                        <div fxFlex="50" fxFlex.xs="100">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.hotelname}}</mat-label>
                                <mat-icon matSuffix>business</mat-icon>
                                <input formControlName="hotelname" matInput value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.email}}</mat-label>
                                <mat-icon matSuffix>email</mat-icon>
                                <input type="text" formControlName="email" matInput placeholder="{{trans.email}}"
                                    value="">
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" fxFlex.xs="100">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.phone}}</mat-label>
                                <mat-icon matSuffix>phone</mat-icon>
                                <input type="text" formControlName="phone" matInput placeholder="{{trans.phone}}"
                                    value="">
                            </mat-form-field>

                        </div>

                        <div fxFlex="50" fxFlex.xs="100">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.authorized}}</mat-label>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <input type="text" formControlName="authorized" matInput
                                    placeholder="{{trans.authorized}}" value="">
                            </mat-form-field>
                        </div>


                        <div fxFlex="50" fxFlex.xs="100">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.salesmanager}}</mat-label>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <input type="text" formControlName="wantname" matInput
                                    placeholder="{{trans.salesmanager}}">
                            </mat-form-field>
                        </div>


                        <div fxFlex="50" fxFlex.xs="100">
                            <div fxLayout="row wrap" fxLayout.xs="row wrap">
                                <div fxFlex="100" fxFlex.xs="100">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Sales Manager E-mail</mat-label>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <input type="text" formControlName="wantemail" matInput
                                            placeholder="Sales Manager E-mail">
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>






                        <div fxFlex="50" fxFlex.xs="100">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Sales Manager Phone</mat-label>
                                <mat-icon matSuffix>phone</mat-icon>
                                <input type="text" formControlName="wantphone" matInput
                                    placeholder="Sales Manager Phone">
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" fxFlex.xs="100" class="mailCheck">
                            <mat-checkbox formControlName="sellerEmailCheck">{{trans.sendmail}}</mat-checkbox>
                        </div>

                        <div fxFlex="100" fxFlex.xs="100" class="mailCheck">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Notlar</mat-label>
                                <textarea formControlName="note" matInput
                                    placeholder="Notunuzu yazabilirsiniz"></textarea>
                            </mat-form-field>
                        </div>

                    </div>
                </ng-container>




                <!--Login Olunmamışsa-->


                <ng-container *ngIf="!userservice.userdata">
                    <div fxLayout="row wrap" fxLayout.xs="row wrap">
                        <div fxFlex="50" fxFlex.xs="100">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.hotelname}}</mat-label>
                                <mat-icon matSuffix>business</mat-icon>
                                <input formControlName="hotelname" matInput value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.email}}</mat-label>
                                <mat-icon matSuffix>email</mat-icon>
                                <input type="text" formControlName="email" matInput placeholder="{{trans.email}}"
                                    value="">
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" fxFlex.xs="100">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.phone}}</mat-label>
                                <mat-icon matSuffix>phone</mat-icon>
                                <input type="text" formControlName="phone" matInput placeholder="{{trans.phone}}"
                                    value="">
                            </mat-form-field>

                        </div>

                        <div fxFlex="50" fxFlex.xs="100">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.authorized}}</mat-label>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <input type="text" formControlName="authorized" matInput
                                    placeholder="{{trans.authorized}}" value="">
                            </mat-form-field>
                        </div>







                        <div fxFlex="50" fxFlex.xs="100" style="display:none;">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.salesmanager}}</mat-label>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <input type="text" formControlName="wantname" matInput
                                    placeholder="{{trans.salesmanager}}">
                            </mat-form-field>
                        </div>


                        <div fxFlex="50" fxFlex.xs="100" style="display:none;">
                            <div fxLayout="row wrap" fxLayout.xs="row wrap">
                                <div fxFlex="50" fxFlex.xs="100">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>{{trans.salesmanageremail}}</mat-label>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <input type="text" formControlName="wantemail" matInput
                                            placeholder="{{trans.salesmanageremail}}">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="50" fxFlex.xs="100" class="mailCheck">
                                    <mat-checkbox formControlName="sellerEmailCheck">{{trans.sendmail}}</mat-checkbox>
                                </div>

                            </div>

                        </div>






                        <div fxFlex="50" fxFlex.xs="100" style="display:none;">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>{{trans.salesmanagerphone}}</mat-label>
                                <mat-icon matSuffix>phone</mat-icon>
                                <input type="text" formControlName="wantphone" matInput
                                    placeholder="{{trans.salesmanagerphone}}">
                            </mat-form-field>
                        </div>

                    </div>
                </ng-container>



            </mat-card>


            <mat-card class="Section">
                <div fxLayout="row wrap" style="margin-bottom:10px;font-weight: 700;">


                    <div fxFlex="100" fxFlex.xs="100">

                        <div class="righFloat">
                            <div class="flexArea">
                                <ng-container *ngIf="packetListData">
                                    <mat-form-field appearance="fill" class="matItem">
                                        <mat-label>Packets</mat-label>
                                        <mat-select name="packet" formControlName="packet"
                                            (selectionChange)="changeData(profileForm.get('roomcount').value);">
                                            <mat-option *ngFor="let factor of packetListData" [value]="factor.FACTOR">
                                                {{factor.PACKAGENAME}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </ng-container>
                                <ng-container>
                                    <mat-form-field appearance="fill" class="matItem">
                                        <mat-label>Periods</mat-label>
                                        <mat-select name="period" formControlName="period"
                                            (selectionChange)="changeData(profileForm.get('roomcount').value);">
                                            <mat-option *ngFor="let period of periodListData"
                                                [value]="period.PERIODFACTOR">
                                                {{period.NAME}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-container>

                                <ng-container>
                                    <mat-form-field appearance="outline" class="example-full-width" class="matItem">
                                        <mat-label>{{trans.roomcount}}</mat-label>
                                        <mat-icon matSuffix>business</mat-icon>
                                        <input min="0" type="number" matInput placeholder="{{trans.roomcount}}"
                                            (keyup)="changeData(profileForm.get('roomcount').value);"
                                            formControlName="roomcount">
                                    </mat-form-field>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="infoBar">

                        <div class="infoItem">
                            <i class="material-icons">info</i>
                            <p>Fiyat teklifi oluşturmak için zorunlu alanların doldurulması, paket seçimi yapılması (Standart, Midi veya Mini) ve oda sayısının 
                                girilmesi gereklidir.
                            </p>
                        </div>


                        <div class="infoItem">
                            <i class="material-icons">info</i>
                            <p>150 oda ve üzeri işletmeler için <span>Standart Paket</span> önerilir.
                            </p>
                        </div>


                        <div class="infoItem">
                            <i class="material-icons">info</i>
                            <p>Detaylı rapor talebi olmayan küçük ve orta ölçekli
                                işletmeler için (150 odaya kadar)
                                <span> Midi Paket</span> yeterlidir.
                            </p>
                        </div>



                        <div class="infoItem">
                            <i class="material-icons">info</i>
                            <p>Sadece önbüro, e-Fatura, kanal yönetimi ve online rezervasyon kullanacak işletmeler için
                                <span> Mini Paket</span> ekonomik bir çözümdür. Ancak herhangi bir modül eklenemez.
                            </p>
                        </div>

                    </div>
                    <div *ngIf="!userservice.login" fxFlex="80" fxFlex.xs="100" style="    align-items: center;
          vertical-align: middle;
          display: flex;">
                        {{trans.modulstext}}
                    </div>

                    <div *ngIf="userservice.login" fxFlex="60" fxFlex.xs="100" style="    align-items: center;
            vertical-align: middle;
            display: flex;">
                        {{trans.modulstext}}
                    </div>

                    <div fxFlex="20" fxFlex.xs="100" *ngIf="userservice.login">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>{{trans.setdiscount}}</mat-label>
                            <mat-icon matSuffix>get_app</mat-icon>
                            <input (keyup)="setDiscount($event);changeData(profileForm.get('roomcount').value);" min="0"
                                type="number" matInput>
                        </mat-form-field>
                    </div>



                </div>


                <div fxLayout="row" fxLayout.xs="row wrap" style="margin-bottom: 10px;">

                    <div fxFlex="30" fxFlex.xs="100" style="margin: auto;">

                        <div class="buttonBar" style="margin-top: 15px;">
                            <button
                                (click)="changeData(profileForm.get('roomcount').value);showControl();teklifGonder('',trans.errormessage);"
                                mat-raised-button color="warn">{{trans.createoffer}}</button>
                        </div>
                    </div>

                    <ng-container *ngTemplateOutlet="totalshow"></ng-container>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th style="width: 10%;">{{trans.select}} </th>
                            <th>{{trans.productname}} </th>
                            <th *ngIf="userservice.login">{{trans.discount}} </th>
                            <th style="width: 20%;text-align: end;">{{trans.total}} </th>
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngFor="let item of dataSource">


                            <!----Kategori Yok ise-->

                            <tr>
                                <td style="text-align: center;">
                                    <mat-checkbox (change)="changeData(profileForm.get('roomcount').value,'','');"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="item.selected">
                                    </mat-checkbox>
                                </td>
                                <td>
                                    <div class="">
                                        <span><b *ngIf="!item.gruped">{{item.NAME}}</b> <b *ngIf="item.gruped">{{item.CATNAME}}</b></span>
                                        <div class="description" [innerHTML]="item.DESCRIPTION"></div>
                                        <ng-container *ngIf="item.selected==true &&  item.grupData">
                                            <div
                                                style="background: whitesmoke;padding: 10px;border-radius: 5px;margin-top:10px;">
                                                <!--     <mat-radio-group aria-labelledby="example-radio-group-label"
                                                    class="example-radio-group" [(ngModel)]="item.grupData.selected"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <ng-container *ngFor="let x of item.grupData">
                                                        <mat-radio-button selected class="example-radio-button"
                                                            *ngIf="x.SHOWQUANTITY !=true"
                                                            (click)="changeData(profileForm.get('roomcount').value,'radio');"
                                                            [value]="x">
                                                            {{x.NAME}}
                                                        </mat-radio-button>
                                                    </ng-container>
                                                </mat-radio-group>
 -->

                                                <ng-container *ngFor="let x of item.grupData">
                                                    <div *ngIf="x.SHOWQUANTITY !=true">
                                                        <mat-checkbox
                                                            (change)="changeData(profileForm.get('roomcount').value,x,'radio');"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="x.selecteditem">
                                                            {{x.NAME}}
                                                        </mat-checkbox>
                                                    </div>
                                                </ng-container>


                                                <table>
                                                    <ng-container *ngFor="let x of item.grupData;let i = index">
                                                        <thead *ngIf="x.SHOWQUANTITY && i==0">
                                                            <th> {{trans.select}}</th>
                                                            <th style="width:50%;"> {{trans.productname}} </th>
                                                            <th style="width:15%;"> {{trans.productquantity}}</th>
                                                            <th *ngIf="userservice.login"> {{trans.discount}}</th>
                                                            <th> {{trans.total}}</th>
                                                        </thead>
                                                        <ng-container *ngIf="x.SHOWQUANTITY">
                                                            <tr>
                                                                <td>
                                                                    <mat-checkbox
                                                                        (change)="changeData(profileForm.get('roomcount').value,x,'check');"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="x.selected">
                                                                    </mat-checkbox>
                                                                </td>
                                                                <td>
                                                                    {{x.NAME}}
                                                                </td>
                                                                <td>
                                                                    <input
                                                                        (change)="changeData(profileForm.get('roomcount').value,x,'check');"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="x.quantity" style="width:50px;"
                                                                        type="number" min="0" value="0"
                                                                        class="productinput" matInput>
                                                                </td>

                                                                <td *ngIf="userservice.login">
                                                                    <input
                                                                        (change)="changeData(profileForm.get('roomcount').value,x,'check');"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="x.discount" style="width:50px;"
                                                                        type="number" min="0" value="0"
                                                                        class="productinput" matInput>
                                                                </td>
                                                                <td>
                                                                    {{x.finalprice | currency : currencyprefix}}

                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </ng-container>
                                                </table>

                                            </div>
                                        </ng-container>




                                    </div>

                                </td>
                                <td style="text-align:center;" *ngIf="userservice.login">
                                    <input (change)="changeData(profileForm.get('roomcount').value,item,'radio');"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="item.discount"
                                        style="width:50px;" type="number" min="0" value="0" class="productinput"
                                        matInput>
                                </td>


                                <ng-container *ngIf="item.type !='check'">
                                    <td class="pricess" style="text-align: end;">

                                        <ng-container *ngIf="!item.selected"><span>{{0 | currency :
                                                currencyprefix}}</span></ng-container>
                                        <ng-container *ngIf="item.selected">
                                            <div>
                                                <strong style="color: yellowgreen;">{{item.finalprice /
                                                    12 | currency :
                                                    currencyprefix}}</strong> / {{trans.monthly}}
                                            </div>


                                            <span><b>{{item.finalprice | currency : currencyprefix}}</b> /
                                                {{trans.year}}</span>
                                        </ng-container>

                                    </td>
                                </ng-container>



                                <ng-container *ngIf="item.type =='check'">
                                    <td class="pricess" style="text-align: end;">

                                        <ng-container *ngIf="!item.selected"><span>{{0 | currency :
                                                currencyprefix}}</span></ng-container>
                                        <ng-container *ngIf="item.selected">

                                            <span><b>{{item.finalprice | currency : currencyprefix}}</b></span>
                                        </ng-container>

                                    </td>
                                </ng-container>

                            </tr>

                        </ng-container>
                        
                    </tbody>
                </table>


                <div fxLayout="row" fxLayout.xs="row wrap">
                    <div fxFlex="50" fxFlex.xs="100">
                        <div class="buttonBar">
                            <button
                                (click)="changeData(profileForm.get('roomcount').value);showControl();teklifGonder('',trans.errormessage);"
                                mat-raised-button color="warn"> {{trans.createoffer}}</button>
                        </div>
                    </div>
                    <div fxFlex="50" fxFlex.xs="100">
                        <div class="totalBar">
                            <ng-container *ngTemplateOutlet="totalshow"></ng-container>
                        </div>
                    </div>
                </div>
                <div class="textDesc" style="flex-wrap: wrap;">
                    <ng-container *ngFor="let x of trans.generaldesc">
                        <div style="width:100%;    display: flex;align-items: center;"><i
                                class="material-icons">info</i> <span [innerHTML]="x"></span></div>
                    </ng-container>
                </div>
            </mat-card>
        </form>

    </div>

</ng-container>


<ng-template #progressTpl>
    <mat-spinner></mat-spinner>
</ng-template>


<!--<div class="callMe" *ngIf="close==true">
  <div class="CallMeArea">
    <div class="Calltext">Özel Fiyatlar İçin Bizi Arayın</div>
    <div class="callnumber"><a href="tel:+908507770444">
      <span class="material-icons">phone</span>+90 850 777 0 444</a></div>
      <button class="callmeClose" (click)="closeCall();" #closeButton mat-mini-fab color="warn">
        <span class="material-icons">close</span>
      </button>
  </div>

</div>-->