<div class="container" style="max-width:400px;">
    <mat-card style="margin-bottom: 10px;">
        <ng-container [formGroup]="passForm">
            <mat-form-field class="w100">
                <mat-label>Yeni Şifreniz</mat-label>
                <input [type]="typeText" formControlName="password" matInput placeholder="">
                <mat-icon style="cursor: pointer;" (click)="showPass();" matSuffix>visibility_off</mat-icon>

            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Lütfen Şifrenizi Tekrar Giriniz</mat-label>
                <input [type]="typeText" formControlName="passwordconfirm" matInput placeholder="">
                <mat-icon style="cursor: pointer;" (click)="showPass();" matSuffix>visibility_off</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="resetPassword();">Gönder</button>
        </ng-container>
    </mat-card>
</div>